h1 {
    color: #C0CFB2;
    background-color: #49654E;
    border: 2px solid #253528;
    text-align: center;
    padding: 20px;
}
h3 {
    display: none;
}
body {
    font-family: Cambria;
    background-color: #C0CFB2;
    color: #E4E6D9;
    margin: 0;
    padding: 0;
}
.container {
    width: 1000px;
    height: 1050px;
    margin: 0 auto;
    background-color: #8BA889;
    padding: 20px;
}
.spacer p {
    visibility: hidden;
}
footer {
    clear: both;
    text-align: center;
    padding: 10px;
    background-color: #253528;
    color:#E4E6D9;
}